body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: mistyrose;
    margin: 0 auto;
    width: 670px;
    border: 3px solid salmon;
    padding: 0 2em 1em;
}
h1 {
    color: black;
    margin-bottom: 1em;	
}
label {
    float: left;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 4em;
    margin-bottom: 2.5em;
}
input[text]{
    border-style: groove;
}
span {
    color: red;
}
/*
#first_name_error {
   color:green;
}
*/
.green{
    color:green;
}
.blue{
   color:blue;
}
.big {
	font-size:300%;
	
}