body{
   font-family: 'Lora', serif;
   background-color: #eee2dc;
   margin: 0 auto;
   width: 670px;
   height: 800px;
   border: 5px solid  #6B7A8F;
   padding: 0 2em 1em;
   
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
   color: #6B7A8F;
   margin-bottom: .5em;
   font-size: 42px;
   text-align: center;
}
div{
    text-align: left;
    
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
   color: #d8ab4e;
   font-size: 14px;
   text-align: center;
}

label{
   float: left;
   width: 11;
   text-align: center;
   color: #535f80;
   font-size: 35px;
      margin-left:50px;

}

input{
  
   
   text-align: center;
  border: 14px ;
  border-radius: 9px;
  width: 47%;
  height: 50px;
  align-content: center;
    margin-left:30px;
      font-size:28px;
      background-color:#fefefe;
      color:#6B7A8F;
}


input[text]{
   border-style: groove;
 
}

#runCalculator
{
  font-size: 24px;
  background-color: #fefefe;
  color: #6B7A8F;
  width: 13em;
  cursor: pointer;
  opacity: .6;
  transition: .3s;
margin-left: 190px;
}
#runCalculator:hover{opacity:1}